 @model LibaryApp.Entity.Dtos.BookDtos.AddBookDto
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}
<hr />

<div class="giris">
    <div class="form">
         <form class="giris-from" method="post" enctype="multipart/form-data">
            <b>Kitap Ekleme Sayfası</b>

            <hr />
            <br />
        <div class="">
            <input type="text" name="BookName" placeholder="Kitap Adı" />
             <label type="text" style="color:red">  @Html.ValidationMessageFor(x=>x.BookName) </label>
              <br />
            <input type="text" name="Author" placeholder="Yazar" />
            <label type="text" style="color:red">  @Html.ValidationMessageFor(x => x.Author) </label>
            <br />
            <input type="file" class="form-control-file" name="Image" placeholder="Kitap Resmi" />
             <label type="text" style="color:red">  @Html.ValidationMessageFor(x => x.Image) </label>

        </div>
        <div style="margin-top:15px">
            <button type="submit" class="btn btn-info">Kitap Ekle</button>
        </div>
    </form>
    </div>
   
</div>
 
<style>
  
    .giris {
        width: 360px;
        padding: 1% 0 0;
        margin-left: 330px;
        margin-top: -26px;
    }
      .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

         .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: royalblue;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }
              .form button:hover, .form button:active, .form button:focus {
                background: slateblue
            }
             .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;



