@{
    ViewBag.Title = "Add";
}
<form class="form-group" method="post">
    <div>
        <label>Kitap Ad</label>
        <input type="text", class="form-control" name="BookName" />
    </div>
    <div>
        <button class="btn btn-info">Kitap Ekle</button>
    </div>
</form>