@* @model LibaryApp.Entity.Dtos.BookDtos.ListBookDto
@{
    ViewBag.Title = "GetBookById";
}

@using (Html.BeginForm("AddBorrowerBook", "BorrowerBooks", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x=>x.Id)
        @Html.TextBoxFor(x=>x.BookName)
    </div>
} *@